body {
    margin: 0;
}

.menu-btn {
    cursor: pointer;
}

.menu-items {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #fff;
    width: 400px;
    height: 100vh;

    box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
}

.menu-item {
    position: relative;
    height: 39px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    color: black;
}

.menu-item:first-child {
    background-color: var(--color);
    height: 97px;
}