* {
    font-family: Inter, sans-serif;
}

.dashboard-background {
    width: 100%;
    background-image: url("../images/authImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 0;
    border: none;
}

#greyBoard {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    max-width: 80%;
    height: fit-content;
}

#liq {
    color: #9f739f;
    font-size: 20px;
}

#rent {
    color: #dbc487;
    font-size: 20px;
}

#ums {
    color: #bf3f60;
    font-size: 20px;
}

#kap {
    color: #e9a77e;
    font-size: 20px;
}