* {
    font-family: Inter, sans-serif;
}

.pageBackground {
    background: linear-gradient(to bottom, var(--upperColor), var(--lowerColor));
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 10%;
    margin: 0;
}

.pageHeader {
    width: 100%;
    background-color: #ffffff;
    color: var(--color);
    font-size: 40px;
    font-weight: 500;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 77px;
    padding: 25px 20px;
}

.greyBackground {
    background-color: #eeeeee;
    border: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    min-width: 35%;
}

.whiteBackground {
    background-color: #ffffff;
    border-radius: 40px;
    width: 90%;
    height: 90%;
    margin: 10px;
    padding: 10px;
}

.inputHighlight {
    font-weight: bold;
    background-color: var(--color);
}

.addBtn {
    background-color: #dadada;
    color: #000000;
}

.dot {
    background-color: var(--color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.info {
    border-color: var(--color);
    background: none;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoLabel {
    font-family: "JetBrains Mono", monospace;
    font-size: 35px;
    color: var(--color);
}


/* Fontsizes ascending */
.p0 {
    font-size: 16px;
}
.p1 {
    font-size: 20px;
}
.p2 {
    font-size: 24px;
}
.p3 {
    font-size: 32px;
}
.p4 {
    font-size: 40px;
}